.challenge-detail {
	.tab-bar {
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		background: white;
		border-radius: 0px 0px 5px 5px;
		box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.2);
	}

	.tab {
		padding: 11px;
		cursor: pointer;

		&:focus {
			outline: none;
		}

		&:first-child {
			padding-left: 15px;
		}
	}

	.image.check {
		width: 22px !important;
	}

	.join-button {
		background: #439856;
		color: white;
		padding: 10px 20px 5px;
		cursor: pointer;
		border-radius: 0px 0px 5px 0px;
	}

	.close-button {
		background: #00b0a8;
		color: white;
		padding: 10px 20px 5px;
		cursor: pointer;
		border-radius: 0px 0px 5px 0px;
	}
}
