.bg-color {
	background-color: #f3f7f7;
}

.hero {
	height: calc(100vh - 0px) !important;
}

a {
	color: inherit;
	text-decoration: none;

	.logo-landing {
		font-family: "Bungee", cursive;
		font-size: 25px;
		// color: rgba($color: white, $alpha: 0.9) !important;
	}

	&:hover {
		color: inherit;
		text-decoration: none;
	}
}

// 404 page
.page_404 {
	padding: 40px 0;
	background: #fff;
	font-family: "Arvo", serif;
}

.page_404 img {
	width: 100%;
}

.four_zero_four_bg {
	background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
	height: 400px;
	background-position: center;
}

.four_zero_four_bg h1 {
	font-size: 80px;
}

.four_zero_four_bg h3 {
	font-size: 80px;
}

.link_404 {
	color: #fff !important;
	padding: 10px 20px;
	background: #39ac31;
	margin: 20px 0;
	display: inline-block;
}

.contant_box_404 {
	margin-top: -50px;
}

.first-cap {
	&:first-letter {
		text-transform: capitalize;
	}
}

.wrapper {
	height: 100vh;
}

.cover {
	background: url("https://www.elmhurst.edu/wp-content/uploads/2019/04/future-of-data-science-illustration-1.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	border-radius: 7px 7px 0px 0px;
	overflow: hidden;
}

.shad {
	background: rgba(0, 0, 0, 0.4);
	padding: 30px;
}

.intro {
	width: 220px;
	justify-content: space-between;
}

.point {
	width: 3px;
	height: 3px;
	background: white;
	border-radius: 50%;
}

.host img {
	width: 50px;
	height: auto;
}

.tab {
	padding: 10px;
}